* {
  margin: 0;
  padding: 0;
} 

body {
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(200, 123, 166);
  background-color: rgb(34, 28, 28);
  height: 1200px;
  font-weight: 300;
}

header {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  float: right;
}

aside {
  display: inline;
}

header p {
  font-size: 19px;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

a:link, a:visited {
  color: rgb(200, 123, 166);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 113, 194);
}

.work-experience a:link, .work-experience a:visited {
  color: rgb(216, 190, 205);
}

.work-experience a:hover {
  color: rgb(255, 255, 255);
}

header section {
  text-align: center;
  margin-bottom: 100px;
}

h1 {
  margin-top: 80px;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 1000;
}

h2 {
  font-weight: 1000;
  text-align: center;
  margin-bottom: 30px;
  border-top: solid;
  padding-top: 30px;
}



.contact-information-section {
  margin-top: 100px;
}

.contact-information-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-information-main section {
  border: solid;
  border-radius: 50px;
  margin: 20px;
  padding: 15px 0px 20px 40px;
  width: 250px;
}


.your-name, .your-email, .your-message {
  display: block;
  margin: auto;
  border: none;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  width: 300px;
  background-color: rgb(200, 123, 166);
  appearance: none;
  outline: none;
}

::placeholder {
  color: rgb(0, 0, 0);
}

.your-name:focus, .your-email:focus, .your-message:focus, textarea:focus {
  border: 3px solid rgb(216, 190, 205);
}

.submit-button {
  margin: auto;
  display: block;
  border: none;
  width: 150px;
  border-radius: 30px;
  margin-top: 60px;
  cursor: pointer;
  font-weight: 1000;
  font-size: 20px;
  background-color: rgb(34, 28, 28);
  position: relative;
  color: rgb(200, 123, 166);
}

.submit-button-inside {
  padding: 5px;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.submit-button::after, .submit-button::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), rgb(224, 73, 169), rgb(102, 149, 106), rgb(224, 73, 169));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  animation: 3s spin linear infinite;
  border-radius: 30px;
}

.submit-button::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}



@media (max-width: 600px) {
  header {
    padding-top: 30px;
  }
  
  nav {
    float: none;
    text-align: center;
    margin-top: 5px;
  }
  
  aside {
    text-align: center;
    display: block;
  }
  
  aside img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
  
  .name {
    font-size: 25px;
    font-weight: 700;
  }
  
  header section {
    margin-bottom: 50px;
  }
  
  h1 {
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 5px;
  }
}